h1 {
	text-decoration: underline;
    color: #009933;
}

p {
    padding: 20px 20px;
    color: #336699;
}

.mlp li a {
    color: #B82E00;
}

.mlp li a:hover {
    color: #FFFF00;
    text-decoration: none;
}