.entire {
	background: url(../images/Adepta.jpg) no-repeat fixed;
	background-size: cover;
	margin: auto;
	display: block;
}


.srchbr {
	float: right;
	margin-top: -140px;
	margin-right: -125px;
}

.container {
	width: 850px;
	margin: auto;
}

.tits{
	color: gold;
	padding-top:30px;
	width:250px;
	text-shadow: 2px 2px 5px #000000;
	margin-left: -120px;
}

nav ul {
	float: left;
	margin-top: -40px;
	margin-left: -60px;
}

nav ul li{
	float: left;
	padding: 8px;
	list-style: none;
	background: #293529;
	border-radius:15px;
}

.maincontent {
	background: #293529;
	margin: auto;
	width: 850px;	
	border-radius: 30px;
	padding-right: 200px;
	padding-top:40px;
	padding-left: 45px;
	color: gold;
	text-shadow: 1px 1px 2px purple;
	padding-bottom: 500px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 20px 3px black;
}

.content {
	margin: auto;
	width: 850px;
}

.cnt1 {
	float: left;
}

.cnt2 {
	float: left;
}

.cnt3 {
	float: left;
}

.p1 {
	width: 240px;
	padding-bottom: 30px;
	margin-bottom: 100px;
}

.p2 {
	width: 115px;
	
}

.contacts{
	float: right;
	color: gold;
	text-shadow: 2px 2px 3px black;
	margin-top: -70px;
	margin-right: -120px;
}

.cntct {
	color: gold;
}

.p3 {
	width: 120px;
}
nav ul li a {
	text-decoration: none;
	color: gold;
	border-right: 3px solid;
	border-left: 3px solid; 
	padding: 8px;
	background: #1A1A1A;
	margin-left: 10px;
	text-shadow: 2px 2px 3px purple;

}

nav ul li a:hover {
	background: #313131;
	padding: 8px 8px;
}



.img2 {
	border: 5px solid #313131;
	margin-left: 80px;
	margin-top: 33px;
	border-right: 115px solid #313131;

}

.img3 {
	border: 5px solid #313131;
	margin-top: 23px;
	border-right: 100px solid #313131;

}

.name1 {
	text-shadow: 2.4px 2px 2px black;
	float: left;
	width: 40px;
}

.name2 {
	float: left;
}