.entire {
	background: url(../images/Adepta.jpg) no-repeat fixed;
	background-size: cover;
	margin: auto;
	display: block;
}


.srchbr {
	float: right;
	margin-top: -140px;
	margin-right: -120px;
}

.container {
	width: 800px;
	margin: auto;
}

.tits{
	color: gold;
	padding-top:30px;
	width:250px;
	text-shadow: 2px 2px 5px #000000;
	margin-left: -120px;
}

nav ul {
	float: left;
	margin-top: -283px;
	margin-left: -60px;
}

nav ul li{
	float: left;
	padding: 8px;
	list-style: none;
	background: #132213;
	border-radius:15px;
}

.maincontent {
	background: #132213;
	margin: auto;
	width: 800px;	
	border-radius: 30px;
	padding-right: 200px;
	padding-top:40px;
	padding-left: 45px;
	color: gold;
	text-shadow: 1px 1px 2px purple;
}

.content {
	margin: auto;

}

.content p {
	float: left;

}

.content img {
	float: left;
}


.p1 {
	width: 240px;
	padding-bottom: 30px;
	margin-top: -2px;

}

.p2 {
	width: 115px;
	background: #313131;
	margin-top: 33px;
	padding-bottom: 16px; 
}

.p3 {
	width: 135px;
	background: #313131;
	margin-right: 60px;
}
nav ul li a {
	text-decoration: none;
	color: gold;
	border-right: 3px solid;
	border-left: 3px solid; 
	padding: 8px;
	background: #1A1A1A;
	margin-left: 10px;
	text-shadow: 2px 2px 3px purple;

}

nav ul li a:hover {
	background: #313131;
	padding: 8px 8px;
}

.img1 {
	float: right;
	margin-right: -180px;
	margin-top: -25px;
	position: static;
}

.img2 {
	border: 5px solid #313131;
	margin-left: 80px;
	margin-top: 33px;

}

.img3 {
	border: 5px solid #313131;
	margin-left:110px;
	margin-top: 7px;
}

.name1 {
	text-shadow: 1px 1px 2px purple;
	float: left;
	margin-left: -230px;
	margin-top: 130px;
	width: 40px;
}

.name2 {
	float: left;
}