.Qwe {
	background-color: #FFCDCD;
    height: 40px;
}

.Qwe ul {
	list-style:none;
}

.Qwe ul li {
	padding: 0 15px;
    float: left;
    line-height: 40px;
}

.Qwe ul li a {
	color: #800000;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.Qwe ul li a:hover {
	color: #FFF;
    text-decoration: underline;
}