
.main-div {
	width: 770px;
	margin: auto;
	background: lightgray;
	padding-bottom: 250px;

}
.main-header {
	background: #5050a3;
	padding: 30px;
}
.bigtext {
	font-size: 20px;
	color: #FFF;
}

.left {
	float:right;
	width: 570px;
	padding-right: 10px;
}

.mlp {
	background: darkblue;
}

.footer {
	background: brown;
	width: 770px;
	position: absolute;
	bottom: 320px;
	height: 40px;
	text-align: center;
	padding-top: 15px;
}

.side-text {
	padding-left: 25px;
}