
.content {
	width: 770px;
	margin: auto;
	background: lightgray;
	padding-bottom: 120px;
}

.sidebar nav ul li{
	list-style: none;
}
.main-header {
	background: #666699;
	padding: 10px;
	text-align: center;
}
.bigtext {
	font-size: 40px;
	color: #FFF;
}

.content {
	float:right;
	width: 570px;
	padding-right: 10px;
}

.mlp {
	background: darkblue;
}

.footer {
	background: brown;
	width: 770px;
	bottom: 320px;
	height: 40px;
	text-align: center;
	padding-top: 15px;
	margin: auto;
}

.sidetext {
	padding-left: 25px;
}